[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
simplejson = "*"
click = "*"
seaborn = "*"
pandas = "*"
matplotlib = "*"
ipython = "*"
influxdb-client = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.7"
